
#header
  each side in data.pageLayout.header
    .nav-bar
      .leftSide
        each cont in side.left
          if cont.type == "image"
            .imgWrapper
              img.headerLogo(src=cont.url)
          if cont.type == "link"
            ul.leftSide-list
              each y in cont.content
                li.leftSide-item
                  a.leftSide-link(href=y.url) 
                    span.leftSide-desc #{y.label}
      .rightSide
        each cont in side.right
          if cont.type == "link" 
            ul.rightSide-item
                each x in cont.content
                  a.rightSide-link(href=x.url)
                    span.some #{x.label}
          if cont.type == "icon"
            ul
              each x in cont.content  
                a(href="#")
                  span(class=`icon-${x.icon}`)
